.ministries-section {
  background: url('../../assets/wave-haikei.svg');
  background-size: cover;
  color: var(--worship-text-color);
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.ministries-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

/* .ministries-title::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--accent-color);
} */



.ministries-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.ministries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Mudança para garantir o espaçamento adequado entre os itens */
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.ministry-card {
  flex: 1 1 22%; /* Cada card vai ocupar 22% do espaço disponível */
  background: white;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
}

.ministry-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.ministry-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.ministry-card:hover::before {
  transform: scaleX(1);
}

.ministry-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.ministry-card h3 {
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 15px;
  position: relative;
}

.ministry-card h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}

.ministry-card:hover h3::after {
  width: 80px;
}

.ministry-card p {
  font-size: 1.3rem;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.8rem;
  }

  .ministries-grid {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .ministry-card {
    width: 90%;
  }

  .ministry-card h3 {
    font-size: 1.5rem;
  }

  .ministry-card p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1921px) {
  .section-title {
    font-size: 4rem;
  }

  .ministry-card h3 {
    font-size: 2.2rem;
  }

  .ministry-card p {
    font-size: 1.6rem;
  }

  .ministry-logo {
    width: 120px;
  }
}

/* Animações em cascata */
.ministry-card:nth-child(1) {
  animation-delay: 0.1s;
}
.ministry-card:nth-child(2) {
  animation-delay: 0.2s;
}
.ministry-card:nth-child(3) {
  animation-delay: 0.3s;
}
.ministry-card:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
